doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Concurso Tiki
		script(src="flechaArriba.js") 
	body 
	header 
		img#izquierda(src="./media/tiki.png", alt="")
		.headerTexto#principal
			h1 CONCURSO TIKI
			nav
				ul
					li: a(href="#ganadores") GANADORES
					li: a(href="#historia") HISTORIA
					li: a(href="#galeria") GALERÍA
		img#derecha(src="./media/tiki.png", alt="")
	.fondo 
		img(src="./media/hawaifondonew.gif", alt="")
	.flechaIrArriba
		a(href="#principal") 	
			img#flechaArriba(src="./media/svg/flechaIrArriba.svg", alt="")
	.ganadores#ganadores
		.ganadoresTitulo
			h2 GANADORES 2020
		.ganadoresLista
			ul
				li 1. SEBASTIÁN
					.ganadoresContenedor
						img(src="./media/imgGanadores/sebastian.jpg", alt="")
				li 2. CHUN LI
					.ganadoresContenedor
						img(src="./media/imgGanadores/chunli.jpg", alt="")
				li 3. MAUI
					.ganadoresContenedor
						img(src="./media/imgGanadores/maui.jpg", alt="")
	.historia#historia
		.historiaTitulo
			h2 HISTORIA
		.historiaTexto
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, fugiat? Explicabo, iusto iure nihil adipisci aperiam incidunt hic? Sint, quod assumenda. Dolorum, labore aperiam at sit consequatur error ut? Nisi?Perferendis vitae totam magnam enim eveniet nulla nobis molestiae, tempore nihil. Architecto ratione veritatis ipsa asperiores accusantium totam adipisci assumenda magnam, placeat rem hic, illo minima eum inventore expedita exercitationem?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, fugiat? Explicabo, iusto iure nihil adipisci aperiam incidunt hic? Sint, quod assumenda. Dolorum, labore aperiam at sit consequatur error ut? Nisi?Perferendis vitae totam magnam enim eveniet nulla nobis molestiae, tempore nihil. Architecto ratione veritatis ipsa asperiores accusantium totam adipisci assumenda magnam, placeat rem hic, illo minima eum inventore expedita exercitationem?
	.galeria#galeria
		.galeriaTitulo
			h2 GALERÍA
		.galeriaImg
			.galeriaColumn
				img(src="./media/imgGaleria/galeria1.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria2.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria3.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria4.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria5.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria6.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria7.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria1.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria2.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria3.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria4.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria5.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria6.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria7.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria1.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria2.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria3.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria4.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria5.jpg", alt="")
			.galeriaColumn
				img(src="./media/imgGaleria/galeria6.jpg", alt="")
			.galeriaColumn


		label(for="") 